<h1>Gêneros:</h1>
<%if @genres.length == 0 %>
  <h3>Ainda não existe nenhum gênero cadastrado. <%= link_to "Clique aqui para cadastrar um novo gênero", "genres/new" %></h3>
<%else%>
  <%@genres.each do |genre|%>
    <%= link_to genre.name, "genre/"+genre.name %>
  <%end%>
  <h3><%= link_to "Cadastrar novo gênero", "genres/new" %></h3>
<%end%>