<h1>Filmes:</h1>
<%if @movies.length == 0 %>
  <h3>Ainda não existe nenhum filme cadastrado. <%= link_to "Clique aqui para cadastrar um novo filme", "movies/new" %></h3>
<%else%>
  <%@movies.each do |movie|%>
  <h2><%= link_to movie.title, "movies/details/"+movie.title %></h2>
  <p>Ano de lançamento: <%= movie.released_at %></p>
  <%end%>
  <h3><%= link_to "Cadastrar novo filme", new_movie_path %></h3>
<%end%>